
body {
  background-image: url(https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683__340.png);
  margin:10% 15%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #c9d7e8;
  font-family: arial;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 5px #edf2f7;
  border-bottom: 1px solid;
  padding: 10px;
  color: #1e3048; 
}

.office-manager {
  color: #1e3048  
}

.designer {
  color: #35547e
}

.intro {
  color: #1e3048
}
.exp-header {
  text-align: center;
  color: #263c5a;
  text-shadow: 2px 2px 5px #edf2f7;
  text-transform: uppercase;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
  font-weight: bold;
  
}

.edu-header {
  text-align: center;
  color: #35547e;
  text-shadow: 2px 2px 5px #edf2f7 ;
  text-transform: uppercase;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
  font-weight: bold;
  
 }

.com-header {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #93aed2 ;
  color: #c9d7e8;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
  font-weight: bold;
    
}

